<h1 class="white"> SHOOOOW ME WHAT YOU DRINK </h1>

<div class="container text-center">
  <h2 class="white"><%= @cocktail.name %></h2>
  <% @cocktail.doses.each do |dose|%>
  <h5 class="white"><%= dose.description %></h5>
  <h5 class="white"><%= dose.ingredient.name %></h5>
  <% end %>

</div>

<% if @cocktail.photo.attached? %>
  <%= cl_image_tag(@cocktail.photo.key,
        width: 400, height: 300, crop: :fill) %>
<% else %>
  <%= image_tag "https://source.unsplash.com/500x400/?cocktail", alt: "cocktail_pic" %>
<% end %>
<p class="white"><%= link_to 'BACK',  cocktails_path %></p>

<p><%= render "doses/new", cocktail: @cocktail, dose: @dose %></p>
